---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Mi presentacionLet me introduce myself, I'm Andrea, let's get to know each other."
	pubDate={new Date('August 08 2021')}
	heroImage="/For-Me-dev.jpeg"
>
	<p>
		Hello, I am a software developer from Tarragona who is passionate about creating innovative and efficient solutions. 
		I specialize in web development with technologies such as HTML, CSS and JavaScript. I love learning new things and facing new challenges. 
		In my free time I enjoy staying up to date with technological innovation.
	</p>
	<p>
		In addition to my technical skills, 
		I believe in the power of collaboration and communication. I thrive in team environments where I can exchange ideas and learn from my peers. 
		I am also comfortable working independently, taking initiative and ownership of my projects. 
	</p>
	<p>
		I am always looking for opportunities to expand my skill set. 
		Recently, I have started exploring the world of machine learning and artificial intelligence, 
		and I am excited about the potential these technologies have to revolutionize the way we live and work.
	</p>
	<p>	
		Outside of work, I am an avid reader, particularly interested in science fiction and technology-related literature.
	</p>		
	<p>	
		I am excited about the future of technology and am eager to contribute to the field with my passion and expertise. 
		I am confident that with my dedication and drive, I can make a significant impact in any project or team I join.
	</p>
</Layout>
