---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html>
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init({
              publicKey: "hSD1VQPNhVyqiQAxx",
            });
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // these IDs from the previous steps
                emailjs.sendForm('service_84t9w75', 'template_nfgerqa', this)
                    .then(() => {
                        console.log('SUCCESS!');
                    }, (error) => {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
 </head>
 <body>
        <Header />
    <div><h1>Contact</h1></div>
    <main>
        <form id="contact-form">
            <input type="hidden" name="contact_number">
            <label>Name</label>
            <input type="text" name="user_name">
            <label>Email</label>
            <input type="email" name="user_email">
            <label>Message</label>
            <textarea name="message"></textarea>
            <input id="submit" type="submit" value="Send">
        </form>
    </main>
    <Footer />
</body>
</html>

<style>
    div{
        padding-top: 5em;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    label{
        border-radius: 20%;
    }
    #submit{
        margin-top: 1rem;
        background-color: #E95420;
        border-radius: 10px;
    }
</style>
    