<h2>Contact</h2>
<form action="" method="post" id="Form">
    <label for="name">Nombre:</label>
    <input id="name" type="text" name="name" required>
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" value="" required>
    <label for="reason">Reason:</label>
    <input id="reason" type="text" name="reason">
    <label for="message">Message:</label>
    <textarea name="message" id="message" rows="4"></textarea>
    <input type="submit" id="submit" value="Submit">
</form>

<style>
    form{
        display: flex;
        flex-direction: column;
    }
    label{
        border-radius: 20%;
    }
    #submit{
        margin-top: 1rem;
        background-color: #E95420;
        border-radius: 10px;
    }
</style>
<script>

// Validation formulario
function validarFormulario() {
    const nameInput = document.getElementById("name");
    const nameValue = nameInput?.ariaValueText;
    const emailInput = document.getElementById("email");
    const emailValue = emailInput?.ariaValueText;
    const reasonInput = document.getElementById("reason");
    const reasonValue = reasonInput?.ariaValueText;
    if ( nameValue || emailValue || reasonValue === null) {
        alert('[ERROR] All fields must have a value.');
        return false;
    }
    return true;
};
validarFormulario()

const Form = document.getElementById('Form');

function envioForm(event) {
    event.preventDefault(); // Evitar el envío automático del formulario
    if (validarFormulario()) {
        console.log('El formulario es válido, se puede enviar');
        // Aquí puedes agregar la lógica para enviar el formulario al servidor
        // Por ejemplo, puedes usar AJAX para enviar los datos del formulario
    } else {
        console.log('El formulario no es válido, no se puede enviar');
    }
}

Form.addEventListener('submit', envioForm);

</script>
    